<?php
$host = "";
$user = "";
$pass = "";
$db = "";
$port = "";

//your google analytics stuff
$USE_ANALYTICS = false;
$account_id = 'UA-...';
$domain = '';

$cxn = mysqli_connect($host, $user, $pass, $db, $port) or die(err("Could not connect to database"));

//when ready to go live, remove the .example off of this filename to make it just dbconfig.php
